# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Environment variables
.env

# VS Code and JetBrains IDEs
.vscode/
.idea/

# macOS junk
.DS_Store

# Python packaging
*.egg-info/
dist/
build/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/
